<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<form method="POST" action="/new">
    <h1>New message</h1>
    <div class="formGroup">
        <label for="user">User</label>
        <input type="text" name="user" id="user">
    </div>
    <div class="formGroup">
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
    </div>
    <button type="submit">Send</button>
</form>